doctype html
html
    include includes/head   
    link(rel="stylesheet" href="/skin/"+"#{temeplate}"+".css")
    link(rel="stylesheet" href="/c/userCenter.css")
    body 
        include includes/banner
        include userCenter/body
    script(src='/j/canvas_bubble.js')
    script(src='/j/userCenter/'+"#{pannel}"+'.js')
    script.
        var oPageConfig = {
            pannelName : "#{pannel}",
            username : "#{name}",
            temp : "#{temeplate}"
        };
        $('.'+oPageConfig.pannelName).addClass('active');

    
